<%- include("../partials/header")  %> 
    <h1 id="homeTitle">Mood Journal</h1>
    <% if(user){ %> 
    <div id="subtitles">
        <div id="dateSub">Date</div>
        <div id="moodSub">Mood</div>
        <div id="emptySub">Details</div>
    </div>
    <% moods.forEach(function(m) { %> 
    <div id="postDisplay">
        <div id="postDiv"><%= m.createdAt %></div>
        <div id="postDiv2"><%= m.moodRating %></div>
        <div id="postDiv3"><a href="/moods/<%= m._id %>">DETAILS</a></div>
        <form method="POST" action="/moods/<%= m._id %>?_method=DELETE">
            <button>X</button>
        </form>
    </div>
    <% }); %>
    <% } else { %>
    <div>Sign in to add a new mood!</div>
    <% } %>   
<%- include("../partials/footer")  %> 